#mainframe {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
  position: absolute;
}
body {
  background-color: grey;
  height: 100%;
  margin: 0;
}
.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}
.main-bg > a {
  font-family: hack, monospace;
  font-size: 425%;
  color: white;
}
.hover {
  z-index: 15;
  position: absolute;
  font-family: hack, monospace;
  width: 95%;
  margin: 5em 0 0 0;
  text-align: right;
}
.hover > a {
  width: 100%;
  color: white;
  text-align: right;
}
